<a href="https://colab.research.google.com/github/redroced/Backjoon_practicenote_python/blob/main/%EB%B0%B1%EC%A4%80_%EC%8B%AC%ED%99%94_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 25083번

In [ ]:
print("         ,r'\"7")
print("r`-_   ,'  ,/")
print(" \. \". L_r'")
print("   `~\/")
print("      |")
print("      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

" ' 문자를 출력하고 싶을때는 "\"를 앞에 추가한다

### 3003번

In [ ]:
chess = [1, 1, 2, 2, 2, 8]

arr = list(map(int, input().split()))
for i in range(len(chess)):
  print(chess[i] - arr[i], end=' ')

0 1 2 2 2 7
1 0 0 0 0 1

### 2444번

In [ ]:
N = int(input())

for i in range(1, N):
    print(' '*(N-i) + '*'*(2*i-1))
for i in range(N, 0, -1):
    print(' '*(N-i) + '*'*(2*i-1))

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

### 10988번

In [ ]:
T = input()

if T == T[::-1]:
  print(1)
else:
  print(0)

level
1

### 1157번

In [34]:
T = input().upper()
T_list = list(set(T))

cnt = []
for i in T_list:
  cnt.append(T.count(i))

if cnt.count(max(cnt)) > 1:
  print('?')

else:
  print(T_list[(cnt.index(max(cnt)))])

baaa
A

대문자 만드는 함수 upper(), set() 집합자료형

### 2941번

In [40]:
T = input()
croatia = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']

for i in croatia:
  T = T.replace(i, '1') #croatia 리스트 안에 글자가 있으면 1로 변환

print(len(T))

ddz=z=
3

replace 함수 : 문자열 안에서 특정 문자를 새로운 문자로 변경

### 1316번

In [37]:
N = int(input())
cnt = N

for i in range(N):
  T = input()
  for j in range(len(T)-1):
    if T[j] == T[j+1]:
      pass
    elif T[j] in T[j+1:]: #T[j+1:] j+1이후의 위치에 T[j]가 존재하는가?
      cnt -= 1
      break

print(cnt)

4
aba
abab
abcabc
a
1

in, not in : 값이 있는지 확인 (리스트, 문자열, 튜플, 딕셔너리 등)

### 25206번

In [47]:
rating_list_point = [4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.0]
rating_list = ['A+', 'A0', 'B+', 'B0', 'C+', 'C0', 'D+', 'D0', 'F']

total_grade_points = []
total_ratings = []
for i in range(20):
  name, grade, rating = input().split()
  grade = float(grade)

  if rating != 'P':
      for i in range(len(rating_list)):
        if rating_list[i] == rating:
          total_grade_points.append(rating_list_point[i]*grade)
          total_ratings.append(grade)

print(sum(total_grade_points)/sum(total_ratings))

ObjectOrientedProgramming1 3.0 A+
IntroductiontoComputerEngineering 3.0 A+
ObjectOrientedProgramming2 3.0 A0
CreativeComputerEngineeringDesign 3.0 A+
AssemblyLanguage 3.0 A+
InternetProgramming 3.0 B0
ApplicationProgramminginJava 3.0 A0
SystemProgramming 3.0 B0
OperatingSystem 3.0 B0
WirelessCommunicationsandNetworking 3.0 C+
LogicCircuits 3.0 B0
DataStructure 4.0 A+
MicroprocessorApplication 3.0 B+
EmbeddedSoftware 3.0 C0
ComputerSecurity 3.0 D+
Database 3.0 C+
Algorithm 3.0 B0
CapstoneDesigninCSE 3.0 B+
CompilerDesign 3.0 D0
ProblemSolving 4.0 P
3.2844827586206895