<a href="https://colab.research.google.com/github/redroced/Backjoon_practicenote_python/blob/main/%EB%B0%B1%EC%A4%80_1%EC%B0%A8%EC%9B%90%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 10807번

In [4]:
N = int(input())
arr = list(map(int, input().split()))
v = int(input())

sum = 0
for i in range(N):
  if arr[i] == v:
    sum+=1

print(sum)

11
1 4 1 2 4 2 4 2 3 4 4
2
3

list(map(int, input().split()))을 통해 1차원 int 배열을 입력받는다.

### 10871번

In [6]:
N, X = map(int, input().split())
arr = list(map(int, input().split()))

for i in range(N):
  if arr[i] < X:
    print(arr[i], end=" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

### 10818번

In [9]:
N = int(input())
arr = list(map(int, input().split()))

print(min(arr), max(arr))

5
20 10 35 30 7
7 35

### 2562번

In [14]:
arr = []

for i in range(9):
  arr.append(int(input()))

print(max(arr))
for i in range(9):
  if max(arr) == arr[i]:
    print((i+1))
    break

3
29
38
12
57
74
40
85
61
85
8

배열을 먼저 선언 후, append를 이용해서 배열안에 값을 추가하는 형태, 최댓값은 max를 이용해서 찾고 그 값을 비교하여 i+1 값을 찾는다(만약 중복수가 있다면 오류가 발생할 가능성이 있다.)

### 10810번

In [17]:
N, M = map(int, input().split())

arr = [0]*N #배열 초기화
for cnt in range(M):
  i,j,k = map(int, input().split())
  for basket in range(i-1,j):
    arr[basket] = k

for basket in range(N):
  print(arr[basket], end=" ")

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

### 10813번

In [20]:
N, M = map(int, input().split())

arr = []
for i in range(N):
  arr.append(i+1)

def swap(a,b):
  tmp = arr[a-1]
  arr[a-1] = arr[b-1]
  arr[b-1] = tmp

for num in range(M):
  i, j = map(int, input().split())
  swap(i,j)

for i in range(N):
  print(arr[i], end=" ")

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

### 5597번

In [22]:
arr = [0]*30

for i in range(28):
  arr[int(input())-1] = 1

for i in range(30):
  if arr[i] == 0:
    print(i+1)

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

### 3052번

In [ ]:
arr = []
for i in range(10):
  arr.append(int(input())%42)

arr = set(arr)
print(len(arr))

집합 자료형 set을 이용하여 나머지 배열의 중복을 제거 후 그 길이를 출력

### 10811번

In [29]:
N, M = map(int, input().split())

arr = list(range(1, N + 1))

def reverse_a_to_b(arr, a, b):
    sub_list = arr[a - 1:b]
    sub_list.reverse()
    arr[a - 1:b] = sub_list

for num in range(M):
  i, j = map(int, input().split())
  reverse_a_to_b(arr, i,j)

for i in range(N):
  print(arr[i], end=" ")

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

reverse를 이용하여 역순

### 1546번

In [45]:
N = int(input())
score_list = list(map(int, input().split()))
M = max(score_list)

for i in range(N):
    score_list[i] = score_list[i]/M*100

print(sum(score_list)/N)

3
40 80 60

TypeError: 'int' object is not callable

온라인 디버거에서 작동됨을 확인함