<a href="https://colab.research.google.com/github/redroced/Backjoon_practicenote_python/blob/main/%EB%B0%B1%EC%A4%80_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 27866번

In [1]:
arr = input()
n = int(input())

print(arr[n-1])

Sprout
3
r

### 2743번

In [2]:
arr = input()

print(len(arr))

pulljima
8

### 9086번

In [13]:
T = int(input())
for i in range(T):
  arr = input()
  print(arr[0],arr[len(arr)-1],sep ='')

3
ACDKJFOWIEGHE
AE
O
OO
AB
AB

### 11654번

In [7]:
T = input()
print(ord(T))

A
65

ord() //문자를 아스키코드, chr() //아스키코드를 문자로

###11720번

In [8]:
N = int(input())
print(sum(map(int,input())))

1
1
1

c언어에서는 반복문으로 처리하지만 python에서는 함수를 통해 간단히 표현 가능

### 10809번

In [9]:
S = list(input())
c = 'abcdefghijklmnopqrstuvwxyz'

for i in c:
    if i in S:
        print(S.index(i), end =' ')
    else:
        print(-1, end=' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

### 2675번

In [16]:
T = int(input())
for i in range(T):
  R, S = map(str,input().split())
  for j in range(len(S)):
    print(S[j]*int(R), end ='')
  print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

R,S을 str로 한번에 받고 나중에 int로 변환

###	1152번

In [17]:
T = input().split()
print(len(T))

The Curious Case of Benjamin Button
6

### 2908번

In [24]:
N1, N2 = input().split()
N1 = N1[::-1]
N2 = N2[::-1]

print(max(int(N1),int(N2)))

734 893
437

문자열을 뒤집을 때는 (문자열이름)[::-1]을 사용(list의 경우 reverse가 가능)

### 5622번

In [26]:
dial = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
T = input()

result = 0
for char in T:
    for i in range(len(dial)):
        if char in dial[i]:
            result += i + 3

print(result)

WA
13

### 11718번

In [28]:
while True:
    try:
      print(input())
    except:
        break

Hello
Hello
Baekjoon
Baekjoon
Online Judge
Online Judge

반복문에 사용했던 try except함수 재사용